openapi: 3.0.1
info:
  title: Orders API Gateway
  description: API Gateway para integrar com o ALB da aplicação de pedidos
  version: 1.0.0

paths:
  /orders:
    get:
      summary: Get orders
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
      x-amazon-apigateway-integration:
        type: http_proxy
        httpMethod: GET
        uri: http://${alb_dns_name}/orders
        passthroughBehavior: when_no_match
        integrationResponses:
          - statusCode: 200
        responses:
          default:
            statusCode: 200
    post:
      summary: POST order
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
      x-amazon-apigateway-integration:
        type: http_proxy
        httpMethod: POST
        uri: http://${alb_dns_name}/orders        
        passthroughBehavior: when_no_match
        integrationResponses:
          - statusCode: 200
        responses:
          default:
            statusCode: 200
  /orders/{orderId}:
    get:
      summary: Get order by ID
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
      x-amazon-apigateway-integration:
        type: http_proxy
        httpMethod: GET
        uri: http://${alb_dns_name}/orders/{orderId}
        requestParameters:
          integration.request.path.orderId: method.request.path.orderId
        passthroughBehavior: when_no_match
        integrationResponses:
          - statusCode: 200
        responses:
          default:
            statusCode: 200
  /webhooks:
    post:
      summary: Webhook for orders
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
      x-amazon-apigateway-integration:
        type: http_proxy
        httpMethod: POST
        uri: http://${alb_dns_name}/webhooks
        passthroughBehavior: when_no_match
        integrationResponses:
          - statusCode: 200
        responses:
          default:
            statusCode: 200
           
